<div class="container">
  <h1>All our Flats</h1>
  <p>All <%= Flat.count %> flats.</p>
  <br>
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1529408632839-a54952c491e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.address %></p>
            <div class='d-flex'>
              <p class='mr-4'><i class="fas fa-user-friends"></i>  <%= flat.number_of_guests %></p>
              <p class='mr-4'><i class="fas fa-euro-sign"></i>  <%= flat.price_per_night %></p>
            </div>
          </div>
          <div class="card-footer bg-white d-flex justify-content-start">
            <div class="card-btn">
              <%= link_to 'More info', flat_path(flat), class: "text-primary mr-2" %>
              <%= link_to 'Edit', edit_flat_path(flat), class: "text-warning mr-2"  %>
              <%= link_to 'Remove' , flat_path(flat), method: :delete, class: "text-danger mr-2"  %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

